@import "./styles/hero.css";
@import "./styles/duckSection.css";
@import "./styles/lecturesSection.css";

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("./assets/fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Machina";
  src: url("./assets/fonts/PPNeueMachina-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%;
  height: 100%; */
  /* overflow: hidden; */
  background-color: var(--main-color);
}
