@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("./assets/fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: #f5ede1;
}

header {
  width: 100%;
  height: 100%;
}
.hero {
  position: relative;
  background-image: url("./assets/images/Hero\ background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  height: calc(100vh - 100px);
  margin: 50px;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.hero-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.hero-navigation p {
  font-size: 1rem;
  line-height: 16px;
  font-family: "PP Neue Montreal Mono", sans-serif;
  text-align: center;
}
.hero-navigation p:first-child {
  padding-left: 30px;
  text-align: left;
}
.hero-navigation-button {
  /* width: 10rem;
    height: 2.7rem; */
  padding: 1rem 1.1rem;
  font-family: "PP Neue Montreal Mono", sans-serif;
  font-size: 1rem;
  color: #121212;
  margin-right: 30px;
  border: none;
}

.hero-scrolling {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.hero-scrolling-content {
  display: flex;
  width: 200%;
  animation: scroll 15s linear infinite;
  align-items: center;
}

.scrolling-people {
  display: flex;
  width: 200%;
  height: 900px;
}

.scrolling-people img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.scrolling-text {
  display: flex;
  width: 200%;
  z-index: 10;
}

.scrolling-text h1 {
  font-family: "PP Neue Montreal Mono", sans-serif;
  font-size: 7.5rem;
  color: #eaeaea;
  z-index: 2;
}

.scrolling-text img {
  width: 120px;
  height: 145px;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  padding: 1.8rem;
  z-index: 1000;
}
.hero-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "PP Neue Montreal Mono", sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
}
