.sponsors-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-top: 30px;
  padding-bottom: 130px;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.sponsors-section-breaker {
  position: absolute;
  height: 45px;
  width: 100%;
  top: -45px;
}

.sponsors-section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 200px;
}
.sponsors-section-heading p {
  font-family: var(--font-fam-3);
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: var(--almost-black-color-transparent);
}
.sponsors-section-heading h2 {
  text-align: center;
  font-family: var(--font-fam-2);
  font-size: 3.1rem;
  line-height: 3.5rem;
  letter-spacing: -4px;
  width: 700px;
  color: var(--redish-color);
  margin-top: 20px;
  font-weight: 500;
}

#agency {
  position: absolute;
  top: 380px;
  left: 230px;
}
#blank {
  position: absolute;
  width: 100px;
  top: 330px;
  right: 200px;
}

.sponsors-section-logos {
  display: grid;
  padding: 30px;
  grid-template: repeat(7, 5fr) / repeat(7, 2fr);
  gap: 50px;
  margin-top: 50px;
}

.neogov {
  grid-row: 3;
}
.blank {
  grid-row: 7;
  grid-column: 2;
}
.photomath {
  grid-row: 5;
  grid-column: 3;
}
.agilno {
  grid-column: 4;
  grid-row: 2;
}
.agilno2 {
  grid-column: 5;
  grid-row: 4;
}
.feg {
  grid-column: 6;
}
.infobip {
  grid-column: 7;
  grid-row: 6;
}

#agency,
#blank,
.sponsors-section-logos img {
  opacity: 0;
  animation: reveal-hide-logo 10s infinite;
}
#agency,
.sponsors-section-logos img:nth-of-type(2n) {
  animation-delay: 2s;
}
#blank,
.sponsors-section-logos img:nth-of-type(3n) {
  animation-delay: 4s;
}

.sponsors-by-category {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}

.gold-sponsors,
.silver-sponsors,
.bronze-sponsors,
.media-sponsors,
.partners-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  width: 100%;
}

.gold-sponsors-image-frame,
.silver-sponsors-image-frame,
.bronze-sponsors-image-frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  font-family: var(--font-fam);
  line-height: 1.6rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--almost-black-color-transparent);
}
.gold-sponsors-image-frame,
.silver-sponsors-image-frame,
.bronze-sponsors-image-frame img {
  width: 10rem;
  height: auto;
}

.gold-sponsors-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.sponsor-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sponsor-card h3 {
  font-family: var(--font-fam-2);
  letter-spacing: -0.5px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--almost-black-color);
  text-align: center;
}

#positions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  border-top: 3px dotted rgba(23, 22, 21, 0.3);
  padding-top: 2rem;
}
#positions p {
  font-family: var(--font-fam-3);
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  color: var(--almost-black-color-transparent);
}

.label-new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  background-color: var(--redish-color);
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-fam);
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
  font-size: 13px;
}

.silver-sponsors,
.bronze-sponsors,
.media-sponsors,
.partners-friends {
  gap: 2rem;
}

.silver-sponsors-logos,
.bronze-sponsors-logos,
.media-sponsors-logos,
.pf-logos {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: center;
  width: 100%;
  padding: 20px;
  position: relative;
}

.silver-sponsors-logos {
  grid-template-rows: repeat(3, auto);
}
.bronze-sponsors-logos {
  grid-template-rows: repeat(2, auto);
}
.media-sponsors-logos {
  grid-template-rows: repeat(2, auto);
}

.logo-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 140px;
  position: relative;
}

.media-sponsors p,
.partners-friends p {
  font-family: var(--font-fam);
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  color: var(--almost-black-color-transparent);
}

.logo-field::before,
.logo-field::after {
  content: "";
  position: absolute;
  background: radial-gradient(circle, #ccc 45%, transparent 46%) 0 0 / 6px 6px;
}

.logo-field::after {
  height: 5px;
  width: calc(100% - 27px);
  left: 10px;
  bottom: 0;
}

.logo-field::before {
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
}

.silver-sponsors-logos .logo-field:nth-child(4n)::before,
.bronze-sponsors-logos .logo-field:nth-child(4n)::before,
.media-sponsors-logos .logo-field:nth-child(4n)::before {
  display: none;
}

.silver-sponsors-logos .logo-field:nth-child(n + 9)::after,
.bronze-sponsors-logos .logo-field:nth-child(n + 5)::after,
.media-sponsors-logos .logo-field:nth-child(n + 5)::after {
  display: none;
}

.pf-logos .logo-field:nth-child(n)::after {
  display: none;
}

.logo-field:last-child::before {
  display: none;
}

@keyframes reveal-hide-logo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 800.1px) and (max-width: 1400px) {
  .sponsors-section-heading {
    padding-top: 100px;
  }
  .sponsors-section-heading h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .sponsors-section-heading p {
    font-size: 15px;
    line-height: 17px;
  }

  .sponsors-section-logos {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(7, 100px);
    gap: 0;
    padding: 10px;
  }

  .neogov {
    grid-row: 3;
    width: 50px;
  }
  .blank {
    grid-row: 7;
    grid-column: 2;
    width: 50px !important;
  }
  .photomath {
    grid-row: 1;
    grid-column: 5;
    width: 50px !important;
  }
  .agilno {
    grid-column: 3;
    grid-row: 2;
  }
  .agilno2 {
    grid-column: 6;
    grid-row: 3;
  }
  .feg {
    grid-column: 4;
    grid-row: 4;
    width: 30px !important;
  }
  .infobip {
    grid-column: 7;
    grid-row: 6;
  }
  #agency {
    top: 250px;
    left: 40px;
    width: 40px;
  }
  #blank {
    top: 270px;
    right: 40px;
    width: 80px;
  }
  .photomath,
  .blank {
    width: 100px !important;
  }
  .feg {
    width: 50px !important;
  }
  .neogov {
    width: 70px;
  }

  .sponsor-card {
    margin-bottom: 50px;
  }

  @media (min-width: 1000px) {
    .sponsors-section-heading h2 {
      font-size: 45px;
      line-height: 45px;
    }
    .sponsors-section-heading p {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .sponsors-section {
    background-size: contain;
  }
  .sponsors-section-breaker {
    object-fit: cover;
  }
  .sponsors-section-heading {
    padding: 40px;
  }
  .sponsors-section-heading p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.54px;
  }
  .sponsors-section-heading h2 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.5px;
    width: 100%;
    text-align: center;
  }
  .sponsors-section-heading h2 br {
    display: none;
  }

  .sponsors-by-category {
    gap: 5rem;
  }

  #agency {
    top: 200px;
    left: 30px;
    width: 25px;
  }
  #blank {
    top: 190px;
    right: 30px;
    width: 70px;
  }
  .sponsors-section-logos {
    width: 100%;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(7, 50px);
    gap: 0;
    padding: 10px;
  }
  .sponsors-section-logos img {
    width: 40px;
  }
  .neogov {
    grid-row: 3;
    width: 50px;
  }
  .blank {
    grid-row: 7;
    grid-column: 2;
    width: 50px !important;
  }
  .photomath {
    grid-row: 1;
    grid-column: 5;
    width: 50px !important;
  }
  .agilno {
    grid-column: 3;
    grid-row: 2;
  }
  .agilno2 {
    grid-column: 6;
    grid-row: 3;
  }
  .feg {
    grid-column: 4;
    grid-row: 4;
    width: 30px !important;
  }
  .infobip {
    grid-column: 7;
    grid-row: 6;
  }

  .gold-sponsors {
    gap: 2rem;
  }

  .sponsor-card {
    margin-bottom: 64px;
    gap: 24px;
  }
  .sponsor-card h3 {
    font-size: 18px;
    line-height: 32px;
  }
  #positions {
    padding-top: 24px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
  }

  .silver-sponsors-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0;
  }
  .bronze-sponsors-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0;
  }
  .media-sponsors-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0;
  }
  .pf-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0;
  }

  .logo-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
  }

  .logo-field::before,
  .logo-field::after {
    background-size: 4px 4px;
  }

  .logo-field::before {
    width: 3px;
    height: 100%;
    right: 0;
    top: 0;
  }

  .logo-field::after {
    height: 3px;
    width: calc(100% - 20px);
    left: 10px;
    bottom: 0;
  }

  .silver-sponsors-logos .logo-field:nth-child(2n)::before,
  .bronze-sponsors-logos .logo-field:nth-child(2n)::before,
  .media-sponsors-logos .logo-field:nth-child(2n)::before,
  .pf-logos .logo-field:nth-child(2n)::before {
    display: none;
  }

  .silver-sponsors-logos .logo-field:nth-last-child(-n + 2)::after,
  .bronze-sponsors-logos .logo-field:nth-last-child(-n + 2)::after,
  .media-sponsors-logos .logo-field:nth-last-child(-n + 2)::after {
    display: none;
  }

  .bronze-sponsors-logos .logo-field:nth-last-child(1)::after {
    display: none;
  }

  .bronze-sponsors-logos .logo-field:not(:nth-last-child(-n + 2))::after,
  .pf-logos .logo-field:nth-child(-n + 2)::after {
    display: block;
  }

  #media-placeholder {
    display: none;
  }

  #placeholder {
    display: none;
  }

  .sponsors-by-category h4 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
  }

  .media-sponsors p,
  .partners-friends p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
  }

  @media (min-width: 420px) {
    .sponsors-section-logos {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
    .sponsors-section-logos img {
      width: 70%;
    }
    .photomath,
    .blank {
      width: 70px !important;
    }
    .feg {
      width: 40px !important;
    }
  }

  @media (min-width: 600px) {
    .sponsors-section-heading h2 {
      font-size: 30px;
      line-height: 30px;
    }
    .sponsors-section-heading p {
      font-size: 15px;
      line-height: 17px;
    }
  }
}
