:root {
  --font-fam: "PP Neue Montreal Mono", sans-serif;
  --font-fam-2: "PP Neue Machina", sans-serif;
  --font-fam-3: "PP Neue Montreal Mono Book", sans-serif;
  --main-background-color: #f5ede1;
  --redish-color: #ff482f;
  --orange-color: #e4573e;
  --light-gray-color: #eaeaea;
  --almost-black-color: #171615;
  --almost-black-color-transparent: #17161599;
  --animation-time: 50s;
}
