.about-days {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 50px 0 50px;
  justify-content: space-between;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.days-duck {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 90px;
}
.days-duck p {
  font-family: var(--font-fam);
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 200px;
  letter-spacing: 0.1rem;
  color: var(--almost-black-color);
}

.days-duck img {
  width: 90%;
  padding-top: 90px;
}

.days-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 5rem;
}
.days-info p {
  width: 700px;
  color: #171615b2;
  font-family: var(--font-fam);
  font-size: 2.9rem;
  line-height: 3rem;
}

.days-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 50px;
}
.days-stats p {
  font-size: 1.5rem;
  line-height: 5rem;
  color: #171615;
  margin: 6rem 0;
  width: 500px;
}
.days-stats span {
  line-height: 6.5rem;
  font-size: 11rem;
  color: #ff482f;
  text-align: center;
  margin-bottom: 2rem;
}

.days-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  padding: 12.5rem 0 3rem 0;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.days-images img {
  width: 22%;
}

@media (min-width: 1100px) and (max-width: 1600px) {
  .days-duck {
    padding-left: 0;
  }
  .days-duck p {
    font-size: 0.8rem;
    line-height: 1rem;
    width: 110px;
  }
  .days-info p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 70%;
  }
  .days-duck img {
    width: 100%;
    padding-top: 130px;
  }

  .days-stats {
    gap: 110px;
  }
  .days-stats p {
    font-size: 0.9rem;
    line-height: 0.9rem;
    width: 40%;
    margin: 1rem 0;
  }
  .days-stats span {
    font-size: 100px;
    line-height: 100px;
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .about-days {
    padding: 30px 20px 20px 20px;
  }
  .days-duck {
    display: block;
    padding: 0;
  }
  .days-duck p {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
  .days-info {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  .days-info p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1px;
    font-family: var(--font-fam-2);
  }
}
