.about-days {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 50px 0 50px;
  justify-content: space-between;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.days-duck {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 90px;
}
#aa {
  font-family: var(--font-fam);
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 200px;
  letter-spacing: 0.1rem;
  color: var(--almost-black-color);
}

.days-duck img {
  width: 90%;
  padding-top: 90px;
}

.days-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 5rem;
}
.days-info p {
  width: 700px;
  color: #171615b2;
  font-family: var(--font-fam);
  font-size: 2.9rem;
  line-height: 3rem;
}

.days-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 50px;
}
.days-stats p {
  font-size: 1.5rem;
  line-height: 5rem;
  color: #171615;
  margin: 6rem 0;
  width: 500px;
}
.days-stats span {
  line-height: 6.5rem;
  font-size: 11rem;
  color: #ff482f;
  text-align: center;
  margin-bottom: 2rem;
  font-family: var(--font-fam-2);
}
.mobile-duck {
  display: none;
}
.days-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  padding: 12.5rem 0 3rem 0;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.days-images img {
  width: 22%;
}

@media (min-width: 350px) and (max-width: 800px) {
  .about-days {
    padding: 30px 20px 20px 20px;
    flex-wrap: wrap;
  }
  .days-duck {
    display: none;
  }
  #aa {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
  .days-info {
    width: 100%;
    justify-self: flex-start;
    margin-top: 100px;
    padding: 0;
    order: 2;
  }
  .days-info p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1px;
    font-family: var(--font-fam-2);
    width: 100%;
  }
  .days-stats {
    width: 100%;
    margin-top: 50px;
    /* gap: 120px; */
    gap: 0;
    height: auto;
  }
  .days-stats p {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    width: 25%;
    margin: 0;
    margin-top: 2rem;
  }
  .days-stats p:first-of-type {
    margin-right: 140px;
    margin-bottom: 150px;
  }

  .days-stats span {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -5px;
  }

  .mobile-duck {
    display: block;
    position: absolute;
    bottom: -260px;
    right: 0;
  }
  .days-images {
    padding: 0;
    margin-top: 300px;
  }
  .days-images img {
    width: 40%;
    margin-bottom: 30px;
  }
}

@media (min-width: 800.1px) and (max-width: 1400px) {
  .about-days {
    padding: 15px 30px 0 30px;
  }
  #aa {
    font-size: 0.8rem;
    line-height: 1rem;
    width: 150px;
    height: 50px;
  }
  .days-duck {
    padding-left: 0;
  }
  .days-duck img {
    width: 100%;
    width: 500px;
    /* padding-top: 130px; */
    padding: 0;
    position: absolute;
    top: 200px;
    left: 100px;
  }

  .days-info {
    padding: 0;
  }
  .days-info p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }
  .days-stats {
    gap: 80px;
  }
  .days-stats p {
    font-size: 16px;
    line-height: 16px;
    width: 30%;
    margin: 15px 15px;
  }
  .days-stats span {
    font-size: 80px;
    line-height: 80px;
  }

  @media (min-width: 800.1px) and (max-width: 1100px) {
    .days-info p {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    .days-images {
      padding-top: 100px;
    }
    .days-stats p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .days-duck {
    padding-left: 0;
  }
  #aa {
    font-size: 0.8rem;
    line-height: 1rem;
    width: 120px;
    height: 50px;
  }
  .days-info p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 70%;
  }
  .days-duck img {
    width: 100%;
    padding-top: 130px;
  }

  .days-stats {
    gap: 80px;
  }
  .days-stats p {
    font-size: 0.9rem;
    line-height: 0.9rem;
    width: 40%;
    margin: 1rem 0;
  }
  .days-stats span {
    font-size: 100px;
    line-height: 100px;
  }
}
