.gallery-section {
  position: relative;
  height: 701px;
  top: -1px;
}

.gallery-cover {
  position: relative;
  width: 100%;
  max-height: 701px;
}

.gallery-cover img {
  position: absolute;
  width: 100%;
}
.gallery-cover img:first-of-type {
  height: 701px;
  z-index: 1;
}
.gallery-cover img:nth-of-type(2) {
  height: 701px;
  opacity: 30%;
  z-index: 2;
}
.gallery-cover img:nth-of-type(3) {
  width: 50px;
  top: 56px;
  right: 56px;
  z-index: 3;
}
.gallery-cover img:nth-of-type(4) {
  z-index: 4;
  height: 45px;
  top: 657px;
  filter: brightness(200%) saturate(0%);
  object-fit: cover;
}
.gallery-cover img:nth-of-type(5),
.gallery-cover img:nth-of-type(6) {
  display: none;
}

.gallery-cover h1,
.gallery-cover p {
  position: absolute;
  z-index: 5;
  color: white;
  font-family: var(--font-fam-3);
}
.gallery-cover h1 {
  top: 355px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-fam-2);
  font-size: 120px;
  font-weight: 600;
  line-height: 144px;
  letter-spacing: -5;
  text-align: left;
  color: var(--light-gray-color);
}
.gallery-cover p {
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.gallery-content-breaker {
  position: absolute;
  width: 100%;
  height: 65px;
  object-fit: cover;
}
#black-breaker {
  top: 70px;
  transform: rotate(-0.9deg);
  filter: brightness(0%);
}
#beige-breaker {
  top: 220px;
  transform: rotate(0.9deg);
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  gap: 280px;
  padding: 30px 0px 0px 120px;
}
#white-quote {
  background-color: white;
}
#black-quote {
  background-color: #000;
}

.quote img {
  width: 35.5px;
  height: 32.17px;
  margin-top: 0;
  margin-bottom: 30px;
}

.quote-text {
  max-width: 630px;
  font-family: var(--font-fam-2);
  font-size: clamp(1rem, 4vw, 1.2rem);
  line-height: 1.5;
  text-align: left;
  color: var(--almost-black-color);
  opacity: 70%;
  padding-left: 50px;
  border-left: 4px dotted #ccc;
}
#black-quote .quote-text {
  color: white;
  opacity: 70%;
}

#third-quote {
  display: flex;
  gap: 65px;
  align-items: flex-start;
}
#third-quote .quote-text {
  width: 583px;
}
#third-element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
}
#third-element p {
  width: 246px;
  height: auto;
  font-family: var(--font-fam-3);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: var(--almost-black-color);
  opacity: 60%;
}

@media (min-width: 350px) and (max-width: 600px) {
  .gallery-section {
    min-width: 350px;
    height: 425px;
  }

  .gallery-cover {
    min-width: 100%;
    height: 430px;
    overflow: hidden;
  }

  .gallery-cover img:first-of-type {
    display: none;
  }
  .gallery-cover img:nth-of-type(2) {
    width: 800px;
    height: 430px;
    left: -100px;
  }
  .gallery-cover img:nth-of-type(3) {
    top: 36px;
    right: 16px;
    width: 24px;
    height: 24px;
  }
  .gallery-cover img:nth-of-type(4) {
    top: 400px;
  }
  .gallery-cover img:nth-of-type(5) {
    display: block;
    width: 100%;
    height: 580px;
  }
  .gallery-cover img:nth-of-type(6) {
    display: block;
    width: 800px;
    height: 500px;
    right: -100px;
    bottom: 35px;
    opacity: 30%;
  }

  .gallery-cover h1 {
    top: 220px;
    font-size: 64px;
    font-weight: 500;
    line-height: 87.46px;
    letter-spacing: -3.27974271774292px;
  }
  .gallery-cover p {
    top: 350px;
    width: 217px;
    height: 28px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  #black-breaker {
    top: 90px;
    transform: rotate(0deg);
  }
  #beige-breaker {
    top: 245px;
    transform: rotate(0deg);
  }

  #white-quote img,
  #black-quote img {
    display: none;
  }

  .quote {
    padding: 0 20px 0 20px;
  }
  .quote-text {
    padding-left: 0;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1px;
    border-left: none;
  }
  #white-quote .quote-text {
    padding-top: 20px;
  }

  #third-quote {
    flex-direction: column-reverse;
    gap: 20px;
  }
  #third-quote .quote-text {
    width: 100%;
    border-bottom: 4px dotted #ccc;
    padding-bottom: 30px;
  }

  #third-element {
    flex-direction: row;
    width: 100%;
  }
  #third-element img {
    width: 17.66px;
    height: 16px;
  }
  #third-element p {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}
