/* header {
  width: 100%;
  height: 100%;
} */

/* #hero-header {
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
} */

.hero-navigation {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2000;
  padding: 30px;
  top: 30px;
}
.hero-navigation p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: var(--font-fam-3);
  text-align: center;
  letter-spacing: 2px;
}
.hero-navigation p:first-child {
  padding-left: 30px;
  text-align: left;
}
.hero-navigation-button {
  padding: 1.2rem 1.3rem;
  font-family: var(--font-fam-3);
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #121212;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.5px;
  background-color: var(--light-gray-color);
}

.hamburger-btn {
  display: none;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}
.hamburger-close-btn {
  display: none;
}
#hamburger-toggle {
  position: absolute;
  top: 55px;
  right: 30px;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  right: -120%;
  background-image: url("../assets/images/mobileBackgroundHero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  transition: right 0.5s ease-in-out;
}

#hamburger-menu-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 50px 20px 30px 20px;
  position: relative;
  z-index: 2;
}
#hamburger-menu-heading h3 {
  font-family: var(--font-fam-3);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

#hero-hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-bottom: 4px dotted rgba(255, 255, 255, 30%);
  padding-bottom: 50px;
  padding-left: 0;
  position: relative;
  align-items: flex-start;
  top: 0;
}
#hero-hamburger-menu li a {
  cursor: pointer;
  text-align: left;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -2px;
  font-family: var(--font-fam-2);
  color: var(--light-gray-color);
}

.hamburger-text-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  margin-top: 50px;
}

#menu-register-button {
  display: block;
  position: absolute;
  bottom: auto;
  width: 90%;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #121212;
  font-family: var(--font-fam-3);
}
#hamburger-desc {
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}

.animation-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  align-items: center;
}
.hero-scrolling {
  position: relative;
  background-image: url("../assets/images/Hero\ background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: calc(100% - 60px);
  height: calc(100vh - 60px);
  margin: 30px;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.hero-scrolling-content {
  height: 100%;
  /* display: inline-block; */
  animation: _scroll var(--animation-time) linear infinite;
}

.hero-scrolling-content__element {
  display: flex;
  align-items: center;
  height: inherit;
}

.speaker-title {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
}

.speaker-title h3 {
  font-family: var(--font-fam-2);
  font-size: 120px;
  line-height: 144px;
  color: var(--light-gray-color);
  letter-spacing: -5px;
  z-index: 1000;
}

#days-scrolling-logo {
  margin: 0 30px;
}

.speaker-title img:first-of-type {
  position: absolute;
  bottom: 0;
  height: 85%;
}

#marketingas {
  left: 200px;
}
#programer {
  left: 50px;
}
#poduzetnik {
  left: 100px;
}

.hero-menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1.8rem;
  position: absolute;
  bottom: 50px;
  left: 5%;
  list-style: none;
}
.hero-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-fam-3);
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 1px;
}

#hero-desc-mobile {
  display: none;
}
#hero-button-mobile {
  display: none;
}

@media (min-width: 1100.1px) and (max-width: 1600px) {
  .hero-navigation {
    padding: 30px;
  }
  .hero-navigation p {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .hero-navigation-button {
    font-size: 0.9rem;
    line-height: 0.9rem;
    padding: 14px 16px;
  }

  .hero-menu li a {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

@media (min-width: 800.1px) and (max-width: 1100px) {
  .hero-navigation {
    padding: 20px;
    width: 90%;
    left: 40px;
  }
  .hero-navigation p {
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .hero-navigation p:first-child {
    padding-left: 10px;
  }
  .hero-navigation-button {
    margin: 0;
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
  }
  .hero-menu {
    padding: 25px 15px;
  }
  .hero-menu li a {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .hero-scrolling {
    margin: 0;
    width: 100%;
    background-image: url("../assets/images/mobileBackgroundHero.png");
  }
  .hero-navigation {
    top: 30px;
    padding: 0 0 0 30px;
  }
  .hero-navigation-desc {
    display: none;
  }

  #hero-desc-mobile,
  #hero-button-mobile {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: var(--font-fam-3);
  }
  #hero-desc-mobile {
    bottom: 50px;
    color: #ffffff;
  }
  #hero-button-mobile {
    bottom: 120px;
    width: 95%;
    margin: 0;
    color: #121212;
    font-family: var(--font-fam-3);
    background-color: #ffffff;
  }

  .speaker-title h3 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -5px;
  }

  #days-scrolling-logo {
    width: 100px;
    height: 100px;
    z-index: 2000;
    margin: 0 15px;
  }

  .hero-navigation p {
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 1px;
    text-align: left;
    align-self: flex-start;
    padding: 0 !important;
  }
  .hero-navigation p:first-of-type {
    margin-top: 20px;
    font-family: var(--font-fam-3);
  }
  .hero-navigation-button {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }

  #hamburger-toggle:checked ~ .hamburger-menu {
    right: 0;
  }
  #hamburger-toggle:checked ~ .hamburger-btn {
    display: none;
  }

  #hamburger-toggle:checked ~ .hamburger-close-btn {
    display: block;
    position: fixed;
    top: 35px;
    z-index: 2000;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
  }

  .hero-menu {
    display: none;
  }
}

@keyframes _scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
