.days-lectures-heading {
  position: relative;
  width: 100%;
  height: 1571px;
  overflow: hidden;
}

.days-lectures-heading .main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.days-lectures-heading h1 {
  position: absolute;
  width: 981px;
  height: 229px;
  left: 50%;
  transform: translateX(-50%);
  top: 372px;
  font-family: var(--font-fam-2);
  font-weight: 500;
  font-size: 120px;
  line-height: 144px;
  letter-spacing: -5px;
  color: var(--light-gray-color);
  display: flex;
  align-items: flex-end;
}

.days-lectures-heading .section-breaker {
  position: absolute;
  bottom: 0;
  left: 50%;
  object-fit: cover;
  transform: translateX(-50%);
  width: 100%;
  height: 45px;
  z-index: 2;
}

.days-lectures-content {
  width: 100%;
  top: 3854px;
  padding-left: 31.34px;
  padding-right: 31.34px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(245, 237, 225, 0),
      rgba(245, 237, 225, 0)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.picker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
  cursor: pointer;
}
.picker p {
  font-family: var(--font-fam);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  color: #171615;
}
.picker-date {
  display: flex;
}
.picker-date p {
  width: 160px;
  height: 48px;
  padding: 16px 24px;
  gap: 8px;
}
#picker-date-choosen {
  border-bottom: 3px solid var(--redish-color);
  color: var(--redish-color);
}
.picker-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-right: 20px;
}
#picker-tag-choosen {
  width: 76px;
  height: 48px;
  padding: 16px 24px 16px 24px;
  border: 0px 0px 3px 0px;
  border-bottom: 3px solid var(--redish-color);
  color: var(--redish-color);
}

.mobile-list {
  display: none;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.list-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr auto;
  align-items: center;
  gap: 16px;
  padding: 30px 70px;
  width: 100%;
  border-bottom: 4px dotted #ccc;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 180px;
  transform: translateY(-50%);
  width: 119.01px;
  height: 149.13px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/images/Speaker\ img\ 1.png");
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.list-item:hover::after {
  opacity: 1;
}

.list-item-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
}
.list-item-time p {
  text-align: right;
}
.list-item-time .typewriter {
  font-family: var(--font-fam-3);
}

.typewriter {
  padding-bottom: 10px;
  font-family: var(--font-fam-3);
  font-size: 14px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 1px;
  color: #171615;
}

.fade {
  text-align: right;
  font-family: var(--font-fam);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #17161599;
  fill-opacity: 60%;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-left: 50px;
}

.label {
  color: #ffffff;
  background-color: var(--redish-color);
  border: 6px solid var(--redish-color);
  border-radius: 50%;
  padding: 0 3px 0 3px;
}

.plus {
  font-family: var(--font-fam-3);
  font-size: 48px;
  font-weight: 100;
  cursor: pointer;
}

@media (max-width: 1285px) {
  .list-item::after {
    content: none;
  }
}

@media (max-width: 1024px) {
  .days-lectures-heading {
    height: 949px;
  }

  .days-lectures-heading .main-image {
    height: 949px;
  }
  .days-lectures-heading .main-image img {
    height: 949px;
    overflow: hidden;
  }
  .days-lectures-heading h1 {
    width: 800px;
    font-size: 80px;
    margin-left: 90px;
  }

  .list-item {
    padding: 30px 0;
  }

  .plus {
    display: none;
  }
}

@media (max-width: 850px) {
  .days-lectures-heading h1 {
    width: 700px;
    font-size: 70px;
    margin-left: 100px;
  }

  .picker {
    margin-bottom: 30px;
  }

  .picker-tag {
    display: none;
  }

  .typewriter {
    font-size: 12px;
    line-height: 2;
  }

  .list-item-info p {
    font-size: 12px;
  }
}

@media (min-width: 350px) and (max-width: 600px) {
  .days-lectures-heading {
    height: 749px;
  }

  .days-lectures-heading .main-image {
    height: 749px;
  }
  .days-lectures-heading .main-image img {
    height: 749px;
    overflow: hidden;
  }

  .days-lectures-heading h1 {
    width: 309px;
    height: 80px;
    font-size: 40px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -3px;
    margin: 0;
  }

  .days-lectures-heading .section-breaker {
    filter: brightness(1000%);
  }

  .days-lectures-content {
    padding: 16px 16px 50px 16px;
    background-color: #fffefe;
  }

  .picker {
    margin-bottom: 50px;
  }

  .list {
    display: none;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .mobile-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 3.5px dotted #ccc;
  }

  .mobile-list-item-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 3px 0;
  }
  .mobile-list-item-time-2 {
    transform: translateY(-5px);
  }

  .mobile-list-item-info {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    padding-bottom: 30px;
  }
  .mobile-info-1 {
    flex-shrink: 0;
    width: auto;
  }
  .mobile-info-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .mobile-info-2 p:nth-child(1) {
    font-family: var(--font-fam-2);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 10px;
  }
}
