.registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: var(--almost-black-color);
  background-image: linear-gradient(rgba(8, 95, 89, 0), rgba(8, 95, 89, 0)),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-registration-breaker {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 45px;
  object-fit: cover;
}

.registration-section .small-text {
  padding-top: 100px;
  font-family: var(--font-fam-3);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  color: white;
  opacity: 70%;
}

.registration-section p:last-child {
  padding-bottom: 170px;
}

#registration-headline {
  font-family: var(--font-fam-2);
  font-size: 7.5vw;
  font-weight: 500;
  line-height: 144px;
  letter-spacing: -5px;
  color: var(--light-gray-color);
}

#registration-image {
  width: 100%;
  height: auto;
}

@media (min-width: 350px) and (max-width: 600px) {
  .registration-section .small-text {
    padding-top: 60px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
  }

  .registration-section .small-text.bottom {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    opacity: 100%;
  }

  #registration-headline {
    font-size: 40px;
    line-height: 80px;
    letter-spacing: -2px;
  }

  #registration-image {
    min-width: 600px;
    margin-top: -36px;
  }

  .registration-section p:last-child {
    padding-bottom: 130px;
  }
}
