.section-speakers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-speakers-breaker {
  width: 100%;
}
.section-speakers-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--orange-color);
  background-image: linear-gradient(
      rgba(228, 87, 62, 0.2),
      rgba(228, 87, 62, 0.2)
    ),
    url("../assets/images/BG texture.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.speakers-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 1px;
  font-family: var(--font-fam);
  animation: fade-in-speakers linear;
  animation-timeline: view();
}

.speakers-heading h1 {
  color: var(--light-gray-color);
  font-family: var(--font-fam-2);
  font-size: 7.5rem;
  line-height: 9rem;
  letter-spacing: -5.02px;
}

.section-speakers-images {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  padding: 30px 30px 0;
  margin-top: 100px;
  min-height: 150vh;
  justify-content: space-between;
}

.speaker-images-column {
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 4);
  min-height: 125vh;
}

.image-txt-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.image-txt-frame h3 {
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: -0.5px;
  font-family: var(--font-fam-2);
  margin-top: 1.25rem;
  margin-bottom: 0.7rem;
}
.image-txt-frame p {
  line-height: 1.1rem;
  font-size: 1rem;
  font-family: var(--font-fam);
  letter-spacing: 1px;
}

.section-speakers-images img {
  width: 100%;
  height: 421px;
  animation: fade-in-speakers linear;
  animation-timeline: view();
}

.first-column {
  gap: 850px;
}

.second-column {
  display: flex;
  justify-content: center;
}
.speaker-images-column.second-column > .image-txt-frame {
  margin-bottom: 180px;
}

.third-column {
  margin-top: 130px;
}
.third-column {
  gap: 1000px;
}

#uk {
  opacity: 40%;
  animation: fade-in-faded-speaker linear;
  animation-timeline: view();
}
.fourth-column {
  margin-top: 900px;
}

#all-speakers {
  font-family: var(--font-fam);
  color: #171615;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 1px;
  position: absolute;
  bottom: 620px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes fade-in-speakers {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-in-faded-speaker {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 40%;
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .section-speakers-breaker {
    height: 20px;
    width: 100%;
  }
  .speakers-heading {
    font-size: 14px;
    line-height: 1rem;
    color: rgba(255, 255, 255, 70%);
  }
  .speakers-heading h1 {
    font-size: 48px;
    line-height: 80px;
    letter-spacing: -3px;
  }
  .section-speakers-images {
  }
  .speaker-images-column {
    width: 45%;
  }
}
