.tldr {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: -2px;
}

.tldr-background {
  position: relative;
  min-height: 800px;
  width: 100%;
}
.tldr-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.tldr-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light-gray-color);
  width: 80%;
}
.tldr-heading h1 {
  font-family: var(--font-fam-2);
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: -5px;
  text-align: center;
  width: 100%;
}
.tldr-heading p {
  font-family: var(--font-fam-3);
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: 20px;
}

#d-logo {
  width: 200px;
  position: absolute;
  top: -115px;
  right: 150px;
  height: auto;
  z-index: 5;
}

#duck {
  width: 400px;
  position: absolute;
  top: 550px;
  left: 50px;
  z-index: 1000;
  height: auto;
}

#background-mobile {
  display: none;
}

@media (min-width: 800.1px) and (max-width: 1300px) {
  .tldr-background {
    min-height: 700px;
  }
  .tldr-background img:first-of-type {
    height: 700px;
  }

  #d-logo {
    width: 150px;
    top: -70px;
    right: 50px;
  }
  #duck {
    width: 350px;
    top: 400px;
    left: -80px;
  }

  .tldr-heading {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .tldr-heading h1 {
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -3px;
  }
  .tldr-heading p {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 600.1px) and (max-width: 800px) {
  #d-logo {
    width: 125px;
    top: -70px;
    right: 50px;
  }
  #duck {
    width: 300px;
    top: 550px;
    left: -80px;
  }

  .tldr-heading {
    top: 30%;
    transform: translate(-50%, 0);
  }

  .tldr-heading h1 {
    font-size: 70px;
    line-height: 60px;
    letter-spacing: 0px;
  }
  .tldr-heading p {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
  }
}

@media (min-width: 350px) and (max-width: 600px) {
  .tldr-background {
    min-height: 700px;
  }
  #background-mobile {
    display: block;
    object-fit: cover;
  }
  .tldr-background img:first-of-type {
    display: none;
  }
  #d-logo {
    width: 130px;
    top: -70px;
    right: 50px;
    z-index: 2000;
  }

  .tldr-heading {
    top: 20%;
    transform: translate(-50%, 0);
  }

  .tldr-heading h1 {
    font-size: 64px;
    line-height: 62px;
    letter-spacing: -3px;
  }
  .tldr-heading p {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-top: 30px;
  }

  #duck {
    width: 300px;
    top: 450px;
    left: -80px;
  }
  #background-mobile {
    height: 100%;
  }

  @media (min-width: 550px) {
    .tldr-heading h1 {
      font-size: 70px;
      line-height: 68px;
      letter-spacing: -1px;
    }
    .tldr-heading p {
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0px;
    }
  }
}
