:root {
  --font-fam: "PP Neue Montreal Mono", sans-serif;
  --font-fam-2: "PP Neue Machina", sans-serif;
  --font-fam-3: "PP Neue Montreal Mono Book", sans-serif;
  --main-color: #f5ede1;
  --orange-color: #ff482f;
  --speaker-color: #e4573e;
  --light-text-color: #eaeaea;
  --sponsor-text-gray: #171615;
  --sponsor-text-gray-transparent: #17161599;
  --animation-time: 30s;
}
